{
  "swagger": "2.0",
  "info": {
    "description": "This API allows you to check your user's account information and details, with user consent, for the PSD2 Account Initiation Service.\n<br>\n\n## **Before you begin**\n\nMake sure you have a working sandbox account in the [Rabobank developer portal](https://developer.rabobank.nl/). Read [Get Started](https://developer.rabobank.nl/get-started) to set up an account and register an **Application**.\n\n**NOTE:** To use these API(s), a valid [TLS](https://developer.rabobank.nl/how-use-mutual-tls) certificate is required.\n<br>\n\n## **Using the API**\n\nAfter your account set up is complete, subscribe the **Account Initiation** and the [**Oauth 2.0 Services**](https://developer.rabobank.nl/oauth-psd2-and-premium) API to your application.\n\nMake sure to use the **Authorization** and **Token URL** as provided by the [**Oauth 2.0 Services**](https://developer.rabobank.nl/oauth-psd2-and-premium).\n\n**Tip**: To learn how to sign a request, read [**Signing requests for Rabobank APIs.**](https://developer.rabobank.nl/signing-requests-rabobank-apis).\n<br>\n\n## **Requests**\n\nThe GET accounts requests must contain a **digital signature**. You can generate this digital signature using the private key of your certificate. For the Sandbox environment, you can use an example certificate available in the [Signing documentation](https://developer.rabobank.nl/signing-requests-rabobank-apis).\n<br>\nYou can retrieve the list of connected accounts with GET/accounts (GET/payments/account-information/ais). To retrieve account details of a specific account using a GET accounts/{account-id} request you use the account-id(s) in the URL: <br>\n```\nGET https://api-sandbox.rabobank.nl/openapi/sandbox/payments/account-information/ais/accounts/Tkw4MlJBQk8xMTA4MDAzMDAxOkVVUg\n```\nTo view full list of GET parameters, go to:\n- GET/accounts\n- GET/accounts/{account-id}/balances\n<br>\n\n## **Response**\nYou can retrieve the connected accounts for account information using a GET accounts request.<br>\nTo view the GET parameters, read the endpoint description for GET/accounts.<br>\n```\n{\n  \"accounts\": [\n      {\n          \"resourceId\": \"Tkw4MlJBQk8xMTA4MDAzMDAxOkVVUg\",\n          \"iban\": \"NL82RABO1108003001\",\n          \"currency\": \"EUR\",\n          \"status\": \"enabled\",\n          \"ownerName\": \"Rabobank Nederland B.V.\",\n          \"_links\": {\n              \"balances\": {\n                  \"href\": \"/accounts/Tkw4MlJBQk8xMTA4MDAzMDAxOkVVUg/balances\"\n              },\n              \"transactions\": {\n                  \"href\": \"/accounts/Tkw4MlJBQk8xMTA4MDAzMDAxOkVVUg/transactions\"\n              }\n          }\n      },\n      {\n          \"resourceId\": \"Tkw4MFJBQk8xMTI3MDAwMDAyOkVVUg\",\n          \"iban\": \"NL80RABO1127000002\",\n          \"currency\": \"EUR\",\n          \"status\": \"enabled\",\n          \"ownerName\": \"Rabobank Nederland B.V.\",\n          \"_links\": {\n              \"balances\": {\n                  \"href\": \"/accounts/Tkw4MFJBQk8xMTI3MDAwMDAyOkVVUg/balances\"\n              },\n              \"transactions\": {\n                  \"href\": \"/accounts/Tkw4MFJBQk8xMTI3MDAwMDAyOkVVUg/transactions\"\n              }\n          }\n      }\n  ]\n}\n```\nTo view the GET parameters, read the endpoint description for GET/accounts/{account-id}.<br>\n```\n{\n  \"resourceId\": \"Tkw4MlJBQk8xMTA4MDAzMDAxOkVVUg\",\n  \"iban\": \"NL82RABO1108003001\",\n  \"currency\": \"EUR\",\n  \"status\": \"enabled\",\n  \"ownerName\": \"Rabobank Nederland B.V.\",\n  \"_links\": {\n      \"balances\": {\n          \"href\": \"/accounts/Tkw4MlJBQk8xMTA4MDAzMDAxOkVVUg/balances\"\n      },\n      \"transactions\": {\n          \"href\": \"/accounts/Tkw4MlJBQk8xMTA4MDAzMDAxOkVVUg/transactions\"\n      }\n  }\n}\n```\nAccount-id's present in the Sandbox environment:\n\n| IBAN                  | account-id                     |\n|-----------------      |--------------------------------|\n| NL82RABO1108003001    | Tkw4MlJBQk8xMTA4MDAzMDAxOkVVUg |\n| NL80RABO1127000002    | Tkw4MFJBQk8xMTI3MDAwMDAyOkVVUg |\n| NL10RABO1127000001    | TkwxMFJBQk8xMTI3MDAwMDAxOkVVUg |\n| NL53RABO1108001001    | Tkw1M1JBQk8xMTA4MDAxMDAxOkVVUg |",
    "version": "4.0.16",
    "title": "Accounts AIS",
    "x-ibm-name": "accounts-ais-sandbox"
  },
  "host": "api-sandbox.rabobank.nl",
  "basePath": "/openapi/sandbox/payments/account-information/ais",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "clientId": [],
      "oauth2_access_code_flow": [
        "ais.balances.read"
      ]
    },
    {
      "clientId": [],
      "oauth2_access_code_flow": [
        "ais.transactions.read-90days"
      ]
    },
    {
      "clientId": [],
      "oauth2_access_code_flow": [
        "ais.transactions.read-history"
      ]
    }
  ],
  "paths": {
    "/accounts": {
      "get": {
        "summary": "Read Account List",
        "description": "Delivers all the consented payments accounts for a specific Rabobank customer.",
        "operationId": "getAccountList",
        "parameters": [
          {
            "name": "TPP-Signature-Certificate",
            "in": "header",
            "description": "Public certificate of the Initiating Party that corresponds with the signature made by the Initiating Party.",
            "required": true,
            "type": "string",
            "format": "byte",
            "x-example": "MIIDkDCCAnigAwIBAgIEWs3AJDANBgkqhkiG9w0BAQsFADCBiTELMAkGA1UEBhMCTkwxEDAOBgNVBAgMB1V0cmVjaHQxEDAOBgNVBAcMB1V0cmVjaHQxETAPBgNVBAoMCFJhYm9iYW5rMRwwGgYDVQQLDBNPbmxpbmUgVHJhbnNhY3Rpb25zMSUwIwYDVQQDDBxQU0QyIEFQSSBQSSBTZXJ2aWNlcyBTYW5kYm94MB4XDTE4MDQxMTA3NTgyOFoXDTIzMDQxMTA3NTgyOFowgYkxCzAJBgNVBAYTAk5MMRAwDgYDVQQIDAdVdHJlY2h0MRAwDgYDVQQHDAdVdHJlY2h0MREwDwYDVQQKDAhSYWJvYmFuazEcMBoGA1UECwwTT25saW5lIFRyYW5zYWN0aW9uczElMCMGA1UEAwwcUFNEMiBBUEkgUEkgU2VydmljZXMgU2FuZGJveDCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBANoAjqGWUgCIm2F+0sBSEwLal+T3u+uldLikpxHCB8iL1GD7FrRjcA+MVsxhvHly7vRsHK+tQyMSaeK782RHpY33qxPLc8LmoQLb2EuiQxXj9POYkYBQ74qkrZnvKVlR3WoyQWeDOXnSY2wbNFfkP8ET4ElwyuIIEriwYhab0OIrnnrO8X82/SPZxHwEd3aQjQ6uhiw8paDspJbS5WjEfuwY16KVVUYlhbtAwGjvc6aK0NBm+LH9fMLpAE6gfGZNy0gzMDorVNbkQK1IoAGD8p9ZHdB0F3FwkILEjUiQW6nK+/fKDNJ0TBbpgZUpY8bR460qzxKdeZ1yPDqX2Cjh6fkCAwEAATANBgkqhkiG9w0BAQsFAAOCAQEAYL4iD6noMJAt63kDED4RB2mII/lssvHhcxuDpOm3Ims9urubFWEpvV5TgIBAxy9PBinOdjhO1kGJJnYi7F1jv1qnZwTV1JhYbvxv3+vk0jaiu7Ew7G3ASlzruXyMhN6t6jk9MpaWGl5Uw1T+gNRUcWQRR44g3ahQRIS/UHkaV+vcpOa8j186/1X0ULHfbcVQk4LMmJeXqNs8sBAUdKU/c6ssvj8jfJ4SfrurcBhY5UBTOdQOXTPY85aU3iFloerx7Oi9EHewxInOrU5XzqqTz2AQPXezexVeAQxP27lzqCmYC7CFiam6QBr06VebkmnPLfs76n8CDc1cwE6gUl0rMA=="
          },
          {
            "name": "PSU-IP-Address",
            "in": "header",
            "description": "The IP Address header field consists of the IP Address value as supplied by the PSU to the TPP in the HTTP request.\nThe IP Address field value should only be provided if the request is initiated by the PSU.\n",
            "required": false,
            "type": "string",
            "x-example": "34.118.239.68"
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "ID of the request, unique to the call, as determined by the initiating party. Format is UUID v4.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-example": "95126d8f-ae9d-4ac3-ac9e-c357dcd78811"
          },
          {
            "name": "Digest",
            "in": "header",
            "description": "The digest is a base64 encoded hash of the body (SHA-512 or SHA-256 is allowed).",
            "required": true,
            "type": "string",
            "x-example": "sha-512=z4PhNX7vL3xVChQ1m2AB9YgAULVxXcg/SpINs6c5H0NE8XYXysP+DGNKfuwvY7kxvdBeoGlODJ6+SfaPg=="
          },
          {
            "name": "Signature",
            "in": "header",
            "description": "Signature is made up of the headers - date, digest and x-request-id. For more information see additional documentation in portal.",
            "required": true,
            "type": "string",
            "x-example": "keyId=\"1523433508\",algorithm=\"rsa-sha512\",headers=\"date digest x-request-id\",signature=\"t7b3deOMrTmOs+mjuY43mMcgpttrIWrkEGRmdEXaiurqrl0BO9hPOk4k+7OKmPWbxqE8nBFFSVSDU7+t84cUdjB3VTsl94rPuPVj/4XKwrqzKcmPHQHZ87ENPHWSFEDuOnub0FrJ4pUImsZpbenkZX+I80MElJQ337jp904JzyA+WKi7SzPjgGTUGlujhRUu3kU4TDNkcLIaBrcok9mXFlJSZQuNaaKfz4kqeaBpG2p3ZjcICnuE1aYFu5VZoniJd3Bi3n0ygVyb/9BaGHYMYvDvKHHtw6So8YGTTO+LnLZmOTgjXKhDIdBOgtJ4PWxvrp0Iid/YaM+BHqZPu4N1bw==\""
          },
          {
            "name": "Date",
            "in": "header",
            "description": "Standard https header element with date, time and timezone.",
            "required": true,
            "type": "string",
            "x-example": "Tue, 13 Sep 2022 09:51:01 GMT"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/accountList"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/error_AIS"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/error_AIS"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/error_AIS"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/error_AIS"
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "schema": {
              "$ref": "#/definitions/error_AIS"
            }
          },
          "406": {
            "description": "Not Acceptable",
            "schema": {
              "$ref": "#/definitions/error_AIS"
            }
          },
          "408": {
            "description": "Request Timeout"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {
              "$ref": "#/definitions/error_AIS"
            }
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "Service Unavailable"
          }
        }
      }
    },
    "/accounts/{account-id}": {
      "get": {
        "summary": "Read Account Details",
        "description": "Delivers all the consented payments accounts for a specific Rabobank customer.",
        "operationId": "readAccountDetails",
        "parameters": [
          {
            "name": "account-id",
            "in": "path",
            "description": "This identification is denoting the addressed account.\nThe account-id is retrieved by using a \"Read Account List\" call.\nThe account-id is the \"id\" attribute of the account structure.\nIts value is constant throughout the lifecycle of a given consent.\n",
            "required": true,
            "type": "string",
            "x-example": "Tkw4MlJBQk8xMTA4MDAzMDAxOkVVUg"
          },
          {
            "name": "TPP-Signature-Certificate",
            "in": "header",
            "description": "Public certificate of the Initiating Party that corresponds with the signature made by the Initiating Party.",
            "required": true,
            "type": "string",
            "format": "byte",
            "x-example": "MIIDkDCCAnigAwIBAgIEWs3AJDANBgkqhkiG9w0BAQsFADCBiTELMAkGA1UEBhMCTkwxEDAOBgNVBAgMB1V0cmVjaHQxEDAOBgNVBAcMB1V0cmVjaHQxETAPBgNVBAoMCFJhYm9iYW5rMRwwGgYDVQQLDBNPbmxpbmUgVHJhbnNhY3Rpb25zMSUwIwYDVQQDDBxQU0QyIEFQSSBQSSBTZXJ2aWNlcyBTYW5kYm94MB4XDTE4MDQxMTA3NTgyOFoXDTIzMDQxMTA3NTgyOFowgYkxCzAJBgNVBAYTAk5MMRAwDgYDVQQIDAdVdHJlY2h0MRAwDgYDVQQHDAdVdHJlY2h0MREwDwYDVQQKDAhSYWJvYmFuazEcMBoGA1UECwwTT25saW5lIFRyYW5zYWN0aW9uczElMCMGA1UEAwwcUFNEMiBBUEkgUEkgU2VydmljZXMgU2FuZGJveDCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBANoAjqGWUgCIm2F+0sBSEwLal+T3u+uldLikpxHCB8iL1GD7FrRjcA+MVsxhvHly7vRsHK+tQyMSaeK782RHpY33qxPLc8LmoQLb2EuiQxXj9POYkYBQ74qkrZnvKVlR3WoyQWeDOXnSY2wbNFfkP8ET4ElwyuIIEriwYhab0OIrnnrO8X82/SPZxHwEd3aQjQ6uhiw8paDspJbS5WjEfuwY16KVVUYlhbtAwGjvc6aK0NBm+LH9fMLpAE6gfGZNy0gzMDorVNbkQK1IoAGD8p9ZHdB0F3FwkILEjUiQW6nK+/fKDNJ0TBbpgZUpY8bR460qzxKdeZ1yPDqX2Cjh6fkCAwEAATANBgkqhkiG9w0BAQsFAAOCAQEAYL4iD6noMJAt63kDED4RB2mII/lssvHhcxuDpOm3Ims9urubFWEpvV5TgIBAxy9PBinOdjhO1kGJJnYi7F1jv1qnZwTV1JhYbvxv3+vk0jaiu7Ew7G3ASlzruXyMhN6t6jk9MpaWGl5Uw1T+gNRUcWQRR44g3ahQRIS/UHkaV+vcpOa8j186/1X0ULHfbcVQk4LMmJeXqNs8sBAUdKU/c6ssvj8jfJ4SfrurcBhY5UBTOdQOXTPY85aU3iFloerx7Oi9EHewxInOrU5XzqqTz2AQPXezexVeAQxP27lzqCmYC7CFiam6QBr06VebkmnPLfs76n8CDc1cwE6gUl0rMA=="
          },
          {
            "name": "PSU-IP-Address",
            "in": "header",
            "description": "The IP Address header field consists of the IP Address value as supplied by the PSU to the TPP in the HTTP request.\nThe IP Address field value should only be provided if the request is initiated by the PSU.\n",
            "required": false,
            "type": "string",
            "x-example": "34.118.239.68"
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "ID of the request, unique to the call, as determined by the initiating party. Format is UUID v4.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-example": "95126d8f-ae9d-4ac3-ac9e-c357dcd78811"
          },
          {
            "name": "Digest",
            "in": "header",
            "description": "The digest is a base64 encoded hash of the body (SHA-512 or SHA-256 is allowed).",
            "required": true,
            "type": "string",
            "x-example": "sha-512=z4PhNX7vL3xVChQ1m2AB9YgAULVxXcg/SpINs6c5H0NE8XYXysP+DGNKfuwvY7kxvdBeoGlODJ6+SfaPg=="
          },
          {
            "name": "Signature",
            "in": "header",
            "description": "Signature is made up of the headers - date, digest and x-request-id. For more information see additional documentation in portal.",
            "required": true,
            "type": "string",
            "x-example": "keyId=\"1523433508\",algorithm=\"rsa-sha512\",headers=\"date digest x-request-id\",signature=\"t7b3deOMrTmOs+mjuY43mMcgpttrIWrkEGRmdEXaiurqrl0BO9hPOk4k+7OKmPWbxqE8nBFFSVSDU7+t84cUdjB3VTsl94rPuPVj/4XKwrqzKcmPHQHZ87ENPHWSFEDuOnub0FrJ4pUImsZpbenkZX+I80MElJQ337jp904JzyA+WKi7SzPjgGTUGlujhRUu3kU4TDNkcLIaBrcok9mXFlJSZQuNaaKfz4kqeaBpG2p3ZjcICnuE1aYFu5VZoniJd3Bi3n0ygVyb/9BaGHYMYvDvKHHtw6So8YGTTO+LnLZmOTgjXKhDIdBOgtJ4PWxvrp0Iid/YaM+BHqZPu4N1bw==\""
          },
          {
            "name": "Date",
            "in": "header",
            "description": "Standard https header element with date, time and timezone.",
            "required": true,
            "type": "string",
            "x-example": "Tue, 13 Sep 2022 09:51:01 GMT"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/accountDetails"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/error_AIS"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/error_AIS"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/error_AIS"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/error_AIS"
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "schema": {
              "$ref": "#/definitions/error_AIS"
            }
          },
          "406": {
            "description": "Not Acceptable",
            "schema": {
              "$ref": "#/definitions/error_AIS"
            }
          },
          "408": {
            "description": "Request Timeout"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {
              "$ref": "#/definitions/error_AIS"
            }
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "Service Unavailable"
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "oauth2_access_code_flow": {
      "description": "NOTE Please use the Authorization and Token URL as provided by the oAuth2 Services",
      "type": "oauth2",
      "authorizationUrl": "https://oauth-sandbox.rabobank.nl/openapi/sandbox/oauth2/authorize",
      "tokenUrl": "https://oauth-sandbox.rabobank.nl/openapi/sandbox/oauth2/token",
      "flow": "accessCode",
      "scopes": {
        "ais.balances.read": "Allows the retrieval of the current balance of an account.",
        "ais.transactions.read-90days": "Allows the retrieval of transaction from the last 90 days.",
        "ais.transactions.read-history": "Allows the retrieval of transaction history once"
      },
      "x-ibm-oauth-provider": "oauth2-services-sandbox-3-0-2-898b"
    },
    "clientId": {
      "description": "ClientId as provided by the Rabobank developer portal.",
      "type": "apiKey",
      "name": "X-IBM-Client-Id",
      "in": "header"
    }
  },
  "definitions": {
    "_linksAccountDetails": {
      "type": "object",
      "properties": {
        "account": {
          "description": "A link to the resource providing the details of a dedicated account.",
          "$ref": "#/definitions/_linksHref"
        },
        "balances": {
          "description": "A link to the resource providing the balance of a dedicated account.",
          "$ref": "#/definitions/_linksHref"
        },
        "transactions": {
          "description": "A link to the resource providing the transaction history of a dedicated account.",
          "$ref": "#/definitions/_linksHref"
        }
      },
      "description": "Links to the account, which can be directly used for retrieving account information from this dedicated account.\nLinks to \"balances\" and/or \"transactions\"\nThese links are only supported, when the corresponding consent has been already granted.\n"
    },
    "_linksHref": {
      "properties": {
        "href": {
          "type": "string",
          "example": "/accounts/dW9od2VIVUhGVypIZHVpaGRhdWR3OGRoY[/|/transactions|/balances]",
          "description": "A link to the resource providing the details of a dedicated account."
        }
      }
    },
    "accountDetails": {
      "type": "object",
      "required": [
        "currency",
        "iban",
        "resourceId",
        "status"
      ],
      "properties": {
        "_links": {
          "$ref": "#/definitions/_linksAccountDetails"
        },
        "currency": {
          "$ref": "#/definitions/currencyCode"
        },
        "iban": {
          "$ref": "#/definitions/iban"
        },
        "ownerName": {
          "type": "string"
        },
        "resourceId": {
          "type": "string",
          "example": "dW9od2VIVUhGVypIZHVpaGRhdWR3OGRoY",
          "description": "Account id.",
          "maxLength": 100
        },
        "status": {
          "$ref": "#/definitions/accountStatus"
        }
      },
      "description": "The ASPSP shall give at least one of the account reference identifiers:\n\n  - iban\n\n  - bban\n\nIf the account is a multicurrency account currency code in \"currency\" is set to \"XXX\".\n",
      "additionalProperties": {}
    },
    "accountList": {
      "type": "object",
      "required": [
        "accounts"
      ],
      "properties": {
        "accounts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/accountDetails"
          }
        }
      },
      "description": "List of accounts with details.\n"
    },
    "accountStatus": {
      "type": "string",
      "description": "Account status. The value is one of the following:\n\n  - \"enabled\": account is available\n\n  - \"deleted\": account is terminated\n\n  - \"blocked\": account is blocked e.g. for legal reasons\n\nIf this field is not used, than the account is available in the sense of this specification.\n",
      "example": "enabled",
      "enum": [
        "enabled",
        "deleted",
        "blocked"
      ]
    },
    "currencyCode": {
      "type": "string",
      "pattern": "[A-Z]{3}",
      "description": "ISO 4217 Alpha 3 currency code\n",
      "example": "EUR"
    },
    "iban": {
      "type": "string",
      "pattern": "[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}",
      "description": "IBAN of an account",
      "example": "NL05RABO0812836782"
    },
    "errorInformationCode": {
      "type": "string",
      "description": "Message code to explain the nature of the underlying error",
      "example": "CERTIFICATE_INVALID",
      "enum": [
        "SESSIONS_NOT_SUPPORTED",
        "ACCESS_EXCEEDED",
        "REQUESTED_FORMATS_INVALID",
        "CERTIFICATE_INVALID",
        "CERTIFICATE_EXPIRED",
        "CERTIFICATE_BLOCKED",
        "CERTIFICATE_REVOKED",
        "CERTIFICATE_MISSING",
        "SIGNATURE_INVALID",
        "SIGNATURE_MISSING",
        "FORMAT_ERROR",
        "PARAMETER_NOT_SUPPORTED",
        "PSU_CREDENTIALS_INVALID",
        "SERVICE_INVALID",
        "SERVICE_BLOCKED",
        "CORPORATE_ID_INVALID",
        "CONSENT_UNKNOWN",
        "CONSENT_INVALID",
        "CONSENT_EXPIRED",
        "TOKEN_UNKNOWN",
        "TOKEN_INVALID",
        "TOKEN_EXPIRED",
        "RESOURCE_UNKNOWN",
        "RESOURCE_EXPIRED",
        "TIMESTAMP_INVALID",
        "PERIOD_INVALID",
        "SCA_METHOD_UNKNOWN"
      ]
    },
    "tppErrorTitle": {
      "type": "string",
      "maxLength": 70,
      "description": "Short  description of error type.\n"
    },
    "tppErrorDetail": {
      "type": "string",
      "maxLength": 500,
      "description": "Detailed human readable text specific to this instance of the error.\nXPath might be used to point to the issue generating the error in addition.\n"
    },
    "error_AIS": {
      "type": "object",
      "required": [
        "code",
        "type"
      ],
      "properties": {
        "type": {
          "type": "string",
          "format": "uri",
          "description": "A URI reference [RFC3986] that identifies the problem type.\nRemark For Future: These URI will be provided by NextGenPSD2 in future.\n",
          "maxLength": 70
        },
        "title": {
          "type": "string",
          "description": "Short human readable description of error type.\nCould be in local language.\nTo be provided by ASPSPs.\n",
          "maxLength": 70
        },
        "detail": {
          "type": "string",
          "description": "Detailed human readable text specific to this instance of the error.\nXPath might be used to point to the issue generating the error in addition.\n",
          "maxLength": 512
        },
        "code": {
          "$ref": "#/definitions/errorInformationCode"
        },
        "additionalErrors": {
          "type": "array",
          "description": "Array of Error Information Blocks.\nMight be used if more than one error is to be communicated\n",
          "items": {
            "type": "object",
            "description": "This is a data element to support the declaration of additional errors in the context of [RFC7807].",
            "properties": {
              "title": {
                "$ref": "#/definitions/tppErrorTitle"
              },
              "detail": {
                "$ref": "#/definitions/tppErrorDetail"
              },
              "code": {
                "$ref": "#/definitions/errorInformationCode"
              }
            },
            "required": [
              "code"
            ]
          }
        },
        "_links": {
          "$ref": "#/definitions/_linksAll"
        }
      },
      "description": "Standardised definition of reporting error information according to [RFC7807]"
    },
    "_linksAll": {
      "type": "object",
      "properties": {
        "self": {
          "$ref": "#/definitions/hrefType"
        },
        "status": {
          "$ref": "#/definitions/hrefType"
        },
        "scaStatus": {
          "$ref": "#/definitions/hrefType"
        },
        "account": {
          "$ref": "#/definitions/hrefType"
        },
        "balances": {
          "$ref": "#/definitions/hrefType"
        },
        "transactions": {
          "$ref": "#/definitions/hrefType"
        },
        "transactionDetails": {
          "$ref": "#/definitions/hrefType"
        },
        "first": {
          "$ref": "#/definitions/hrefType"
        },
        "next": {
          "$ref": "#/definitions/hrefType"
        },
        "previous": {
          "$ref": "#/definitions/hrefType"
        },
        "last": {
          "$ref": "#/definitions/hrefType"
        },
        "download": {
          "$ref": "#/definitions/hrefType"
        }
      },
      "description": "A _link object with all available link types.\n",
      "additionalProperties": {
        "$ref": "#/definitions/hrefType"
      }
    },
    "hrefEntry": {
      "type": "string",
      "description": "Link to a resource.",
      "example": "/accounts/3fdhzart4fsadsdfg45hdgh/balance"
    },
    "hrefType": {
      "type": "object",
      "properties": {
        "href": {
          "$ref": "#/definitions/hrefEntry"
        }
      },
      "description": "Link to a resource."
    }
  },
  "x-ibm-configuration": {
    "cors": {
      "enabled": false
    },
    "enforced": true,
    "phase": "realized",
    "type": "rest",
    "testable": false,
    "application-authentication": {
      "certificate": true
    },
    "servers": [
      {
        "url": "https://api-sandbox.rabobank.nl/openapi/sandbox/payments/account-information/ais",
        "description": "",
        "type": [
          "production",
          "development"
        ]
      }
    ],
    "oauth-servers": {
      "oauth2_access_code_flow": {
        "tokenUrls": [
          "https://oauth-sandbox.rabobank.nl/openapi/sandbox/oauth2/token"
        ],
        "authorizationUrls": [
          "https://oauth-sandbox.rabobank.nl/openapi/sandbox/oauth2/authorize"
        ],
        "refreshUrls": []
      }
    }
  }
}